body {

    font-family: 'Raleway', sans-serif;

    display: grid;
    justify-content: center;

    background-image: url("../../images/trae-gould-v-ti3sccORY-unsplash.jpg");
    background-color: hsl(211, 80%, 4%);

    background-position: 2vw 0vw;
    background-size: 135%;

    padding: 1rem;
}